.menuKnap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  margin: 1em;
  margin-bottom: 880px;
  padding: 0;
  width: 2.5em;
  height: 2.25em;
  border: none;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  background: transparent; }
  .menuKnap:focus {
    outline: none; }
  .menuKnap span {
    display: none; }
  .menuKnap:hover {
    opacity: 0.6; }

.menuIndhold {
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.3);
  transition: width 0.3s, height 0.3s;
  width: 0;
  height: 0;
  font-size: 1.5em;
  bottom: 1em;
  left: 1em;
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  .menuIndhold .menu {
    height: 100%;
    opacity: 0;
    font-size: 0.65em;
    color: black;
    text-align: left;
    border: 3px solid black;
    border-radius: 10px; }
    .menuIndhold .menu .profil {
      display: inline-block;
      line-height: 42px;
      font-weight: 500;
      padding: 1em;
      margin-left: 32px; }
    .menuIndhold .menu .menuPunkter {
      padding: 1.35em 0;
      margin: 0 0.75em;
      border-bottom: 3px solid rgba(125, 129, 148, 0.2);
      border-top: 3px solid rgba(125, 129, 148, 0.2); }
      .menuIndhold .menu .menuPunkter a {
        display: block;
        margin: 0.25em 0;
        color: black;
        padding: 0.5em 1.5em;
        text-decoration: none; }
        .menuIndhold .menu .menuPunkter a span {
          margin-left: 10px;
          font-weight: 500;
          vertical-align: middle; }
        .menuIndhold .menu .menuPunkter a:hover, .menuIndhold .menu .menuPunkter a:focus {
          opacity: 0.6; }
    .menuIndhold .menu .ikoner {
      position: absolute;
      right: 1em;
      bottom: 0.9em; }
      .menuIndhold .menu .ikoner a {
        font-size: 1.5em;
        margin-left: 0.25em;
        color: white; }

@media screen and (max-width: 50em) {
  .menuKnap {
    margin: 0.25em; }
  .menuIndhold {
    bottom: 0.25em;
    left: 0.25em; } }

.visMenu .indhold:before {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.visMenu .menuIndhold {
  margin-bottom: 440px;
  margin-left: 10px;
  width: 280px;
  height: 400px;
  -webkit-animation: menuAnimation 0.8s linear forwards;
  animation: menuAnimation 0.8s linear forwards; }

.visMenu .menu {
  opacity: 1;
  transition: opacity 0.3s 0.3s; }
